.wrapper {
  display: flex;
  flex-direction: row;
}

.homeContainer {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  
  display: flex;
  flex-direction: column;
}

.homeContainer section {
  flex: 1;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}
