.wrapper {
  display: grid;
  grid-template-columns: 7rem 1fr;
}

.homeContainer {
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;

  background: var(--background);
}

.homeContainer section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}